[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg = "*"
pydub = "*"
vosk = "*"
torch = "*"
transformers = "*"
pyttsx3 = "*"
gtts = "*"
speechrecognition = "*"
pyaudio = "*"
moviepy = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
python-magic = "*"
pillow = "==9.5.0"
flake8 = "*"
torchaudio = "*"
torchdata = "*"
spacy = "*"
torchtext = "*"
portalocker = ">=2.0.0"
jupyterlab = "*"
notebook = "*"
sentencepiece = "*"
ffmpeg-python = "*"
soundfile = "*"
espnet = "*"
espnet-model-zoo = "*"
ttskit = "*"
numpy = "*"
scipy = "*"
librosa = "*"
unidecode = "*"
inflect = "*"
datasets = {extras = ["audio"], version = "*"}
tacotron2 = "*"
voice-cloning = "*"
tacotron2-model = "*"
encoder = "*"
inference-tools = "*"

[dev-packages]

[requires]
python_version = "3.9"
